/* *,
body,
html {
    background-color: #F5F7FA;
} */

.header {
    background-color: #F5F7FA;
    display: flex;
    flex-direction: row;
 
}
 
.container {
    width: 1536px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 7vh;
    display: flex;
    align-items: center;
}
 
.header-logo {
    float: left;
    width: 25%;
}
 
.header-navlink {
    float: left;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
 
a {
    text-decoration: none;
    color: #000000 !important;
}
 
 
 
.header-auth {
    float: right;
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
 
.auth-btn {
    display: inline-block;
    margin: 2px;
}